@keyframes color-change {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}
html {
  width: calc(100vw - 100px);
  height: 100vh;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  background-color: cornsilk;
}
html body header {
  position: relative;
  padding-top: 20px;
  text-align: center;
  font-size: xx-large;
  top: 0;
}
html body header h1 {
  margin: 0;
  color: crimson;
}
html body header h2 {
  margin: 0;
  animation: color-change 1s infinite alternate;
}
html body header p {
  margin: 0;
  color: blue;
}
html body .index {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 200px);
  align-items: center;
  flex-direction: column;
}
html body .index div {
  display: block;
  padding: 10px;
  width: 360px;
  text-align: center;
}
html body .index div a {
  color: black;
  text-decoration: none;
}
html body .index div a:hover {
  color: blue;
}
html body .index div h5 {
  margin: 0;
  font-size: medium;
}
html body .index div img {
  height: 25vh;
}
html body .SummaryBlock {
  background-color: bisque;
}
html body .SummaryBlock .Summary {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body .SummaryBlock .Summary div {
  padding: 15PX;
  background-color: rgba(45, 151, 170, 0.897);
}
html body .SummaryBlock .Summary div h3 {
  text-align: center;
  font-style: italic;
}
html body .SummaryBlock .Summary img {
  width: calc(50% - 20px);
  max-height: calc(100vh - 50px);
}
html body footer {
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(199, 138, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body footer ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
html body footer ul li {
  list-style: none;
}
html body footer ul a {
  padding: 10px;
  color: black;
  text-decoration: none;
  text-shadow: 0 0 15px black;
}
html body footer ul a:hover {
  color: white;
}

.feedback {
  font-family: "Arial", sans-serif;
  background-image: url(./assets/Allbooks.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  background-size: cover;
  color: white;
  padding: 20px;
}
.feedback .SectFeedback {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feedback form {
  display: flex;
  flex-direction: column;
}
.feedback label {
  margin-top: 10px;
}
.feedback input[type=text],
.feedback input[type=email],
.feedback textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 4px;
  box-sizing: border-box;
}
.feedback textarea {
  resize: vertical;
}
.feedback button {
  margin-top: 10px;
  display: inline-block;
  border: none;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.feedback button:hover {
  background-color: #2980b9;
}
.feedback input[type=submit] {
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
}/*# sourceMappingURL=style.css.map */